{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row mb-5">
			<div class="col-12 main-img-detail">
				<h2 style="background-image: url({{asset('uploads/assets/') ~ mainAsset}});">{{ trick.name}}</h2>
			</div>
		</div>
		<div class="row">
			{% for asset in assets %}
				<div class="col-2">
					{% if asset.type == "image" %}
						<img class="img-fluid mb-4 media-detail" src="{{ asset('uploads/assets/') ~ asset.url }}" alt="">


					{% elseif asset.type == "youtube" %}
						<iframe class="media-detail" src="{{asset.url}}" frameborder="0" allow="encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


					{% else %}
						<video class="media-detail" controls>

							<source src=" {{ asset('uploads/assets/') ~ asset.url }} ">

							Votre navigateur ne supporte pas la vidéo
						</video>
					{% endif %}
					<a href="{{ path('update_asset', {id: trick.id, asset:asset.id}) }}">
						<i class="fas fa-pencil-alt"></i>
					</a>

					<a href="{{ path('delete_asset', {id: trick.id, asset:asset.id}) }}" onclick="return confirm('voulez-vous supprimer cette asset?');">
						<i class="fas fa-trash-alt"></i>
					</a>
				</div>

			{% endfor %}

		</div>

		<div class="text-center">
			<button type="button" class="btn btn-primary round mt-3" data-toggle="modal" data-target="#newAsset">
				Ajouter asset
			</button>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="newAsset" tabindex="-1" role="dialog" aria-labelledby="newAssetTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Gestion des assets</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{ form_start(formAsset) }}
						{{ form_widget(formAsset) }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
					{{ form_end(formAsset) }}
				</div>
			</div>
		</div>


		{{ form_start(form) }}

		{{ form_widget(form) }}

		{{ form_row(form.groupsId) }}

		<div class="text-center">
			<button type="submit" class="btn btn-primary round mt-3">Enregistrer</button>
		</div>
		{{ form_end(form) }}


	</div>

{% endblock %}
